.cinevault-onboarding {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .cinevault-onboarding-actions {
    border: var(--border-width) solid var(--background-modifier-border);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 32px;
  }

  .cinevault-onboarding-actions p {
    color: var(--text-muted);
    font-size: 16px;
  }
}